[Unit]
Description=mywebapp Task Tracker
After=network.target postgresql.service mywebapp.socket
Requires=postgresql.service mywebapp.socket

[Service]
User=app
Group=app


WorkingDirectory=/opt/mywebapp

ExecStartPre=/usr/bin/node /opt/mywebapp/migration.js
ExecStart=/usr/bin/node /opt/mywebapp/server.js

Environment=CONFIG_PATH=/etc/mywebapp/config.json

Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target